.file
  width: 52px
  height: 60px
  cursor: pointer
  margin: 10px
  color: #FAFAFA
  font-size: 14px
  text-align: center
  text-shadow: 1px -1px 0px #292929
  display: inline-block

  & img
    width: 35px
    height: 35px

.exe
  width: 52px
  height: 60px
  cursor: pointer
  margin: 10px
  color: #FAFAFA
  font-size: 14px
  text-align: center
  text-shadow: 1px -1px 0px #292929

  & img
    width: 35px
    height: 35px

.txt-content
  margin: 0 2px
  background-color: #fff
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(163,163,163,1)
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(163,163,163,1)
  box-shadow: inset 0px 0px 0px 1px rgba(163,163,163,1)
