.time {
  display: inline-block;
  background-color: #E64A19;
  float: right;
}

  li.time ul {
    display: none;
    position: absolute; 
    top: 20px;
    right: 0px;
  }

  li.time:hover > ul {
    display: inherit;
  }

    li.time ul li {
      background-color: #E64A19;
      width: 250px;
      text-align: center;
    }