.window-nav-btn {
  height: 20px;
  width: 20px;
  content: ' ';
  display: inline-block;
  cursor: pointer;
  border-right: 1px solid #cecece;
}

.window-nav-btn:hover {
  transform: translateY(0.5px);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}

  .nav-close {
    background: url('../../../../assets/icons/close.png');
  }

  .nav-fullscreen {
    background: url('../../../../assets/icons/maximize.png');
  }

  .nav-hide {
    background: url('../../../../assets/icons/iconify.png');
  }