li.nav-btn {
  display: inline-block;
  background-color: #E64A19;
}
  
  li.nav-btn ul {
    display: none;
    position: absolute; 
    top: 20px;
  }

  li.nav-btn:hover > ul {
    display:inherit;
  }

    li.nav-btn ul li {
      background-color: #E64A19;
    }